.money-list {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.moneyBox {
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  background-color: #ffff;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  align-items: center;
}
.moneyCoins,
.bigCoins,
.moneyCash,
.bigMoney {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.moneyBox-Img {
  height: 80px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 20px;
}
.moneyCoins img {
  padding-bottom: 5px;
}
.moneyCash img {
  height: 75px;
  padding-top: 10px;
}

.bigMoney img {
  height: 75px;
  padding-top: 20px;
}
.moneyBoxText {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 0.9rem;
}
.introPexeso,
.titleCoins {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.bigCoins {
  border-bottom: 5px solid rgb(234, 247, 250);
}

.btnElm-pexeso {
  margin-top: 18px;
  border: 1px solid rgb(113, 137, 143);
  border-radius: 5px;
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #265130;
}

.btnElm-pexeso:hover {
  cursor: pointer;
  background-color: #98cfa5;
}
.btn-pexeso {
  text-align: center;
}
.kids-container {
  text-align: center;
}
