

.moneyBox {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-color: #ffff;
    margin: 15px;
    border-radius: 10%;
}
.moneyCoins,
.moneyCash {
    display: flex;
    flex-direction: row;
}
.moneyBox-Img {
    height: 79px;
    width: 79px;
    margin: 15px;
}
.moneyCash img {
    height: 58px;
    width: 79;
}
