.uvod-hlavicka {
  /*background: url('../assets/img/lista.svg');*/
  background-size: cover;
  flex: 0;
  border: 1px solid red;
  text-align: center;
  position: relative;
}

.uvod-hlavicka img {
  width: 100%;
  height: auto;
}

.uvod-nadpis {
  font-size: 4.8vw;
  font-weight: bold;
  color: darkgreen;
  text-align: center;
  top: 20%;
  width: 100%;
  position: absolute;
}

.uvod-podnadpis {
  font-size: 2.4vw;
  font-weight: bold;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 70%;
}

.uvod-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.uvod-text {
  border: 1px solid blue;
  flex: 1;
  font-size: 2.1vw;
  color: darkgreen;
  text-align: center;
  margin: 9%;
}
.uvod-skupiny {
  border: 1px solid black;
  flex: 3;
  display: flex;
  flex-direction: row;
}

.uvod-karta {
  border: 1px solid fuchsia;
  flex: 1;
  text-align: center;
  flex-basis: 10%;
  margin: 30px;
}

.uvod-paticka {
  border: 1px solid orangered;
  flex: 0;
  text-align: center;
  font-size: 1.3vw;
  color: darkgreen;
  background-color: palegreen;
}

.volnemisto {
  flex: 1;
}

.postavy img {
  position: relative;
  margin: auto;
}

.postavy {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;
}
