/* .uvod-header {
  height: 100px;
  background-color: green;
}

.uvod-nadpis {
  font-size: 40px;
  color: darkgreen;
  text-align: center;
}

.uvod-podnadpis {
  font-size: 20px;
  color: white;
  text-align: center;
}
 */

.uvod-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.uvod-hlavicka {
  flex: 0;
  border: 1px solid red;
}

.uvod-text {
  border: 1px solid blue;
  flex: 1;
}
.uvod-skupiny {
  border: 1px solid black;
  flex: 3;
  display: flex;
  flex-direction: row;
}

.uvod-karta {
  border: 1px solid fuchsia;
  flex: 1;
}

.uvod-paticka {
  border: 1px solid orangered;
  flex: 0;
}
