.uvod-hlavicka {
    /*background: url('../assets/img/lista.svg');*/
    background-size: cover;
    flex: 0;
    text-align: center;
    position: relative;
}

.uvod-hlavicka img {
    width: 100%;
    height: auto;
}

.uvod-nadpis {
    font-size: 4.8vw;
    font-weight: bold;
    color: #265130;
    text-align: center;
    top: 20%;
    width: 100%;
    position: absolute;
}

.uvod-podnadpis {
    font-size: 2.4vw;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 60%;
}

.uvod-box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.uvod-text {
    flex: 0;
    font-size: 1.5vw;
    color: #265130;
    text-align: center;
    margin: 0 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.uvod-skupiny {
    flex: 0;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
}

.uvod-karta {
    flex: 1;
    text-align: center;
    flex-basis: 10%;
}

.volnemisto {
    flex: 1;
}

.postavy img {
    position: relative;
    margin: 0 auto 10% auto;
}

.postavy {
    display: flex;
    flex-direction: column;
    height: 15vw;
    text-align: center;
}

.menu {
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(170 228 243 / 67%);
}
.menu:hover,
.menu:focus {
    background-color: transparent;
    transition: background-color 500ms ease-out;
}
