.calculator {
    background-color: rgb(204, 231, 238);
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-box {
    margin-top: 10px;
}

.field-box {
    width: 420px;
    margin-left: 18px;

    display: flex;
    align-items: baseline;
}

.field-box input {
    border: 1px solid rgb(113, 137, 143);
}

.field-title {
    flex-basis: 55%;
    margin-bottom: 0;
    margin-top: 0px;
}

.field-input {
    margin-bottom: 0;
    margin-top: 10px;
}
.field-input input {
    width: 100px;
    margin: 5px;
    margin-top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']:disabled {
    background-color: white;
}

.lastRow-mb input {
    margin-bottom: 18px;
}

.button-count {
    margin-top: 18px;
    background-color: #98cfa5;
    border: none;

    border-radius: 5px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.button-count:hover {
    cursor: pointer;
}

.calc-result {
    background-color: rgb(204, 231, 238);
    padding: 18px;
    margin: 0 10px;
}
