@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}
.menu {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    /*background-color: rgb(159, 229, 247);*/
    background-color: #ccff99;
    width: 100%;
}
.menu:hover,
.menu:focus {
    background-color: transparent;
    transition: background-color 500ms ease-out;
}
