* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Open Sans', sans-serif;
  }

.header {
    background-color: #98cfa5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;

  }